body{
  font-family: "Gill Sans";
}

h2{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

form{
  padding-left: 30%;
  padding-right: 30%;
}

ul{
  list-style: none;
}

input{
  float: right;
}

button{
  color: white;
  background-color: #6C63FF;
  border: none;
  border-radius: 20px;
  padding: 15px;
  font-family: "Bauhaus";
  font-size: 15px;
  margin: 10px;
}

#myProgress {
  width: 20%;
  border: solid 1px;
}

#myBar {
  width: 0%;
  height: 10px;
  background-color: green;
}

.question {
  display: none;
}
