body{
  font-family: "Gill Sans", arial;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
header{
  background: #2C3484;
  width:100%;
  height: 7vw;
  padding: 0;
  margin-top: -2.7vh;
}

.sections{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.leftNav{
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-left: 13vw;
  align-items: center;
  margin: auto;
}
.rightNav{
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
  margin: auto;
  margin-left: 14vw;
  margin-top: 2.5vw;
  font-size: 1.5vw;

}
.centerNav{
  width: 12%;
  background: #2C3484;
  height: 30%;
}
.logoHeader img{
  height: 2vw;
  margin-top: 1.4vw;
}
.nameCompany{
  font-size: 3vw;
  margin-left: 1vw;
  font-family: "Gamer";
  margin-top:1.4vw;

}
.leftNav a{
  color: white;

}
a{
  text-decoration: none;
}
.rightNav a{
  font-size: 1.5vw;
  font-weight: 500;
  color: #6C63FF;
}

.buttonTest{
	border:none;
	padding:6px 0 6px 0;
	border-radius:2vw;
	background:#6C63FF;
  font-weight: 700;
	color:#F8F8FC;
  height: 2vw;
  width: 12vw;
  position: relative;
}
.colorButtonTest{
  color: white;
  position: absolute;
  margin-top: 2.1%;
  font-size: 1.2vw;
  margin-left: 15%;
  font-family: "Gamer";

}
.colorButtonDef{
  color: white;
  position: absolute;
  margin-top: 1%;
  font-size: 1.2vw;
  margin-left: 9%;
  font-family: "Gamer";
}
.separationTest{
  display: flex;
  justify-content: space-around;
  margin-top: 7vw;
}
.textTest{
 width: 48%;
 margin-left: 7.3%;
 margin-top: -3.95vw;
}
.imageTest{
  width: 20%;
}

.sizeImage {
  width: 40vw;
}
.Test-hight{
  font-size: 2.8vw;
  font-weight: 1000;
  color: #6C63FF;
}
.Test-medium {
  font-size: 1.9vw;
  color: #7B7D91;
  font-weight: 1000;
  margin-top: -0.7vw;
}
.Test-down{
  font-size: 1vw;
  color: #9EA0BC;
  font-weight: 1000;
  margin-top: 1.7vw;
}
.buttonDef{
  border:none;
  padding:6px 0 6px 0;
  border-radius:2vw;
  background: #9189FF;
  font-weight: 700;
  color:#F8F8FC;
  height: 2vw;
  width: 31vw;
  position: relative;
  margin-left: 4vw;
  opacity: 75%;
}
.separationButton{
  justify-content: space-around;
  display: inline-flex;
  margin-top: 1.7vw;
}
footer{
  background: #2C3484;
  width:100%;
  height: 7vw;
  position: relative;
  bottom: 0;
  margin-top: 8.25%;
}
footer ul{
  width: 30%;
  margin-left: 2.9vw;
}

h2{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: #6C63FF;
}

form{
  padding-left: 20%;
  padding-right: 20%;
}

ul{
  list-style: none;
}

input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: right;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 2px solid #6C63FF;
}

input:checked{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 8px solid #6C63FF;
}

button{
  color: white;
  background-color: #6C63FF;
  border: none;
  border-radius: 20px;
  padding: 15px;
  font-family: "Bauhaus";
  font-size: 15px;
  margin: 10px;
}

#myProgress {
  width: 40%;
  border: solid 1px;
}

#myBar {
  width: 0%;
  height: 10px;
  background-color: green;
}

.question {
  display: none;
  font-size: 25px;
}

main{
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 5%;
}

p{
  font-size: 150%;
}

#advice1{
  color: #7B7D91;
}

#advice2{
  color: #9EA0BC
}

.fish{
  width: 50%;
}

#fish{
  margin-top: 10%;
  margin-left: 10%;
  width: 90%;
}

.result{
  display: flex;
  flex-direction: row;
}

.text{
  width: 50%;
}

.heading{
  text-align: center;
  margin: 10px;
}

.heading img{
  width: 35%;
}

.advice{
  width: 60%;
  margin-left: 20%;
  margin-right: 0;
}

.quizlustration{
  width: 12%;
  position: absolute;
  margin-left: 37%;
}

.short{
  margin-top: 7%;
  margin-bottom: 7%;
}

.advice p{
  font-size: 125%;
  color: #7B7D91;
}

.advice div{
  margin-top: 10%;
  margin-bottom: 10%;
}

#advice-img1{
  float: left;
  width: 25%;
}

#advice-img2{
  float: right;
  width: 25%;
}

#advice-img3{
  float: left;
  width: 25%;
}

#advice-img4{
  float: right;
  width: 25%;
}

h3{
  text-align: center;
}

hr{
  color: #9189FF;
}

.types{
  display: flex;
  flex-direction: column;
  align: center;
}

.types p{
  color: white;
}

.types h2{
  color: white;
}

.heading{
  color: #7B7D91;
}

.heading h1{
  color: #6C63FF;
}

.types img{
  float: right;
  width: 15%;
  margin-right: 10%;
  background-color: #45467e;
  padding: 5%;
  border-radius: 10%;
}

.micro{
  margin-top: 10%;
  height: 20%;
}

.block{
  background-color: #585ec7;
  width: 50%;
  padding: 2%;
  border-radius: 10%;
}

@media only screen and (min-width : 18px) and (max-width : 1024px){
  header{
    background: #2C3484;
    width:100%;
    height: 7vw;
    padding: 0;
    margin-top: -2.7vh;
  }

  .leftNav{
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-left: 13vw;
    align-items: center;
    margin: auto;
  }
  .rightNav{
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
    margin: auto;
    margin-left: 14vw;
    margin-top: 2.5vw;
    font-size: 1.5vw;
  }
  .centerNav{
    width: 12%;
    background: #2C3484;
    height: 30%;
  }
  .logoHeader img{
    height: 2vw;
    margin-top: 1.4vw;
  }
  .nameCompany{
    font-size: 3vw;
    margin-left: 1vw;
    font-family: "Gamer";
    margin-top:1.4vw;
  }
  .leftNav a{
    color: white;
  }
  a{
    text-decoration: none;
  }
  .rightNav a{
    font-size: 1.5vw;
    font-weight:  800;
    color: #6C63FF;
    display:none;
  }

  h2{
    font-size: 75%;
  }

  label{
    font-size: 75%;
  }

  form{
    padding-left: 0%;
    padding-right: 10%;
  }

  .quizlustration{
    width: 20%;
    position: absolute;
    margin-left: 37%;
  }

  h1{
    font-size: 100%;
  }

  p{
    font-size: 80%;
  }

  button{
    padding: 10px;
    font-size: 10px;
  }

  #fish{
    margin-top: 10%;
    margin-left: 0%;
    width: 120%;
  }

  .text{
    width: 45%;
  }

  h3{
    font-size: 75%;
  }

  .advice p{
    font-size: 75%;
  }

  .advice div{
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .advice{
    margin-left: 12%;
    width: 75%;
  }

  .types p{
    font-size: 70%;
  }

  .types h2{
    font-size: 70%;
  }
}

@media only screen and (max-height : 414px) {
  h2{
    font-size: 65%;
  }

  label{
    font-size: 50%;
  }

  button{
    margin: 0;
    padding: 10px;
  }

  h1{
    font-size: 75%;
  }

  p{
    font-size: 75%;
  }

  #fish{
    margin-top: 10%;
    margin-left: 20%;
    width: 75%;
  }

  .quizlustration{
    width: 20%;
    position: absolute;
    margin-left: 33%;
    margin-top: 3%;
  }

  .types p{
    font-size: 100%;
  }

  .types h2{
    font-size: 100%;
  }
}
